html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f8f9fa; /* Bootstrap light gray */
}

/************************
 Minimal custom tweaks
*************************/
.navbar-brand {
  font-weight: 600;
}

.table {
  background: #ffffff;
}

footer.app-footer {
  color: #6c757d;
}
